@charset "UTF-8";

body{ /*Tag que inclui o site todo */
    background-color: rgb(177, 177, 177); /*Deixa o fundo do site branco */
    color: rgba(0, 0, 0, 1); /*Adiciona as letras da cor preta */
}

div#interface {
    width: 900px; /*Delimita a interface em 400px*/
    background-color: white; /*Interface braanca*/
    margin: -20px auto 0px auto; /*formata as margens em -20px , automatico, 0px e automatico*/
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /*sombreamento na interface*/
    padding: 10px; /*espaco de 10px no espaço de dentro*/
}

p{/*Tag que formata apenas os paragrafos */
    text-align: justify; /*Formata os paragrafos em forma justificada */
    text-indent: 50px; /*Formata um paragrafo de 50px */
}

header#cabecalho img#icone { /*Formatação da imagem no header*/
    position: absolute; /*Posição absoluta, ou seja pode ficar em qualquer lugar do site*/
    left: 1000px; /*espaço do lado*/
    top: 60px; /*Topo do site*/
}

header#cabecalho { /*Formatacao do cabeçalho*/
    border-bottom: 1px #606060 solid; /*A borda possui 1 px, cor cinza e é solida*/
    height: 150px; /*Tamanho do cabeçalho*/
    background: url(imagens/Viva-calistenia.png) no-repeat 0px 50px; /*imagem com a url do css, sem repetir e tamanho variado*/
}

header#cabecalho h1 { /*Formatação  do titulo do cabeçalho*/
    font-family: Arial, sans-serif; /*Fonte do paragrafo*/
    font-size: 30pt; /*Tamanho da fonte*/
    color: #606060; /*cor da fonte*/
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5); /*sombras*/
    padding: 0px; /*não possui padding*/
    margin-bottom: -20px; /*A margem possui -20px*/
}

header#cabecalho h2 { /*Formatação  do subtitulo do cabeçalho*/
    font-family: Arial, sans-serif;/*Fonte do paragrafo*/
    font-size: 15pt;/*Tamanho da fonte*/
    color: #888888;/*cor da fonte*/
    padding: 0px; /*não possui padding*/
    margin-bottom: 0px;/*A margem possui 0px*/
}

figure.foto-legenda{ /*Tag que formata as figure da classe foto-legenda */
    position: relative; /*Tag que deixa a imagem em posicao relativa */
    border: 8px solid rgb(255, 251, 251); /*Borda Branca */
    box-shadow: 1px 1px 4px black; /*sombreamento da borda */
}

figure.foto-legenda img{ /*Tag que formata a imagem da figure */
    width: 100%; /*Largura em 100% */
    height: 100%; /*Altura em 100% */
}

figure.foto-legenda figcaption{ /*Tag que formata a figcaption */
    opacity: 0%; /*Formata a opacidade em 0 */
    position: absolute; /*Posiciona em posição absoluto */
    top: 0px; /*Topo de 0px */
    background-color: rgba(0, 0, 0, 0.4); /*Ao passar sobre a imagem deixa ela com opacidade preta*/
    color: white; /*Legenda da imagem branca */
    width: 100%; /*Largura 100% */
    height: 100%; /*Altura 100% */
    padding: 10px; /*Tag que posiciona ela em 10px */
    box-sizing: border-box; /*Tags que poe a borda da opacidade dentro da imagem */
    transition: opacity 1s; /*Tempo de efeito de opacidade */
}

figure.foto-legenda:hover figcaption{ /*Tag que aplica o efeito sobre a imagem */
    opacity: 1; /*Opacidade true */
}

nav#menu{
    display: block;/*Tag que exibe o menu como um bloco*/
}

nav#menu ul{ /* Formatação da lista do menu*/
    list-style: none; /* tag que faz os Marcadores sumirem*/
    text-transform: uppercase; /*Deixa os itens do emnu em maiusculo*/
    position: absolute; /*Posição que permite ser colocado em qualquer lugar da tela*/
    top: -20px; /*Posição do topo em -20px*/
    left: 500px; /*posição da direita em 600px*/
}

nav#menu li{ /*Formatação dos itens da lista do menu*/
    display: inline-block; /*tag que formata os itens em uma linha só*/
    background-color: rgba(194, 188, 188, 0.986); /*Deixa o fundo de cada iten cinza*/
    padding: 10px; /*Espaço dentro do bloco*/
    margin: 2px; /*Espaço fora do bloco*/
    transition: background-color 1s; /*Transição da cor ao passar sobre o item em 1segundo*/
}

nav#menu li:hover{ /*Tag que aplica efeito sobre o li*/
    background-color: #606060; /*Cor da transição*/
}

nav#menu h1{ /*Formatação do h1 do menu*/
    display: none; /*Esconde o h1 */
}

nav#menu a{ /*Tag que formata os links do menu*/
    color: black; /*tag que deixa letra preta*/
    text-decoration: none; /*Retira o traço dos links*/
}

nav#menu a:hover{ /*Trancisão nos links*/
    color: white; /*Formata a cor branca quando passar por cima*/
}

section#corpo { /*Formatação da seção do site*/
    display: block; /*Section do site vira um bloco*/
    width: 520px; /*largura da pagina*/
    float: left; /*localiza na esquerda da pagina*/
    border-right: 1px solid #606060; /*bordaq ue divide as sessoes*/
    padding-right: 15px ; /*separação de 15px*/
}

table#tabela { /*Formatação da tabela do site*/
    border: 1px solid #606060; /*borda em volta da tabela solida de 1pxe*/
    border-spacing: 0px; /*Borda entre os dados*/
    margin-left: auto;/*Formatação da posicao da tabela*/
    margin-right: auto;/*Formatação da posicao da tabela*/
}

table#tabela caption{ /*Formatação do titulo da tabela do site*/
    text-align: center; /*textos centralizado*/
    font-weight: bold; /*textos em negrito*/
}

table#tabela td{ /*Formatação dos td da tabela site*/
    border: 2px solid #606060;/*borda entre a tabela solida de 1pxe*/
    padding: 8px; /*espacamento dentro da tabela dde 10px*/
    text-align: center; /*textos centralizado*/
}

table#tabela td.ce{ /*formatacao de cores da coluna 1 da tabela*/
    color: rgb(245, 243, 241);/*Formatação das letras, deixando-as branca*/
    background-color: #3a3636;/*Formatação do fundo cinza*/
    font-weight: bold;/*Letras em negrito*/
    font-family:Arial, Helvetica, sans-serif;/*Fonte da letra*/
    font-size: medium;/*tamanho da letra*/
}

table#tabela td.cd{ /*formatacao de cores da coluna 2 da tabela*/
    color: rgb(0, 0, 0);/*Formatação das letras, deixando-as branca*/
    background-color: #6b6868;/*Formatação do fundo cinza*/
    font-family:Arial, Helvetica, sans-serif;/*Fonte da letra*/
    font-size: medium;/*tamanho da letra*/
}

table#tabela caption span{ /*Formatação da span do titulo*/
    display: block; /*Tornando o texto num bloco*/
    float: right; /* Posição a direita da fonte*/
    color: rgb(0, 0, 0); /*Cor da fonte*/
    font-size: 10px; /*Tamanho da fonte*/
    margin-top: 10px; /*Espaçamento de 10px ao topo*/
    font-weight: bold; /*Texto em negrito*/
}

aside#lateral { /*Formatação da aside do site*/
    display: block; /*aside do site vira um bloco*/
    width: 350px;/*largura da pagina*/
    float: right; /*localiza na direita da pagina*/
}

footer#rodape{ /*Formatação da footer do site*/
    clear: both; /*Formatação da seção do site*/
    border-top: 1px solid #606060; /*cria uma borda*/

}

footer#rodape p{/*Formatação do paragrafo da footer do site*/
    text-align: center; /*centraliza os paragrafos*/
}